################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HexMapPathFinder/obj
/HexMapPathFinder.Tests/obj
/HexMapPathFinder.Tests/bin/
/HexMapPathFinder/bin/Debug
/HexMapPathFinder.Tests/bin/
/HexMapPathFinder/bin/Release
